@using TravelTripProject.Models.Classes;
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<body>
    @*<section class="w3l-main-slider" id="home">
        <div class="banner-content">
            <div id="demo-1"
                 data-zs-src='["~/web/images/banner1.jpg", "~/web/images/banner2.jpg","~/web/images/banner3.jpg", "~/web/images/banner4.jpg"]'
                 data-zs-overlay="dots">
                <div class="demo-inner-content">
                    <div class="container">
                        <div class="banner-infhny">
                            <h3>Hayvan Sahiplendirme Platformu</h3>
                            <h6 class="mb-3">Satın alma, sahiplen!</h6>
                            <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                                <form action="#" method="post" class="booking-form">
                                    <div class="row book-form">
                                        <div class="form-input col-md-4 mt-md-0 mt-3">

                                            <select name="selectpicker" class="selectpicker">
                                                <option value="">Tüm Türler</option>
                                                <option value="asia">Köpek</option>
                                                <option value="south-america">Kedi</option>
                                                <option value="eastern-europe">Balık</option>
                                                <option value="south-america">Kuş</option>
                                            </select>

                                        </div>
                                        <div class="form-input col-md-4 mt-md-0 mt-3">

                                            <select name="selectpicker" class="selectpicker">
                                                <option value="">Tüm Cinsiyetler</option>
                                                <option value="asia">Kız</option>
                                                <option value="south-america">Erkek</option>
                                                <option value="eastern-europe">Bilinmiyor</option>
                                            </select>

                                        </div>
                                        <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                            <button class="btn btn-style btn-secondary">
                                                <span aria-hidden="true"></span> Ara
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

    <!--<div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent">
                    <h2 class="indent-left margin-bot">Plan the Easy Trip</h2>
                    <div class="banner-left">
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/glass.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Restaurants</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/flight.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Flights</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/group.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Things to do</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="con-text">
                            <div class="grid1-img">
                                <img src="~/web/images/key.png" alt="">
                            </div>
                            <div class="grid1-desc">
                                <p>Vacation Rents</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="header_bottom_right_images">

                        <div class="slider" style="width:480px;height:350px">
                            <ul class="rslides" id="slider1">

    @*<li><img src="~/web/images/img2.jpg" alt=""></li>
        <li><img src="~/web/images/img3.jpg" alt=""></li>
        <li><img src="~/web/images/img4.jpg" alt=""></li>*@
    <!--</ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>-->

        <div class="wrap">
            <div class="wrapper">

                <div class"content">
                    <div class="demo-inner-content bg-warning">
                        <div class="container p-3 my-3">
                            <div class="container-fluid">
                                <h3 class="text-dark">Hayvan Sahiplendirme Platformu</h3>
                                <h6 class="text-dark mb-3">Satın alma, sahiplen!</h6>
                                <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                                    <form action="#" method="post" class="booking-form">
                                        <div class="row book-form">
                                            <div class="form-input col-md-4 mt-md-0 mt-3">
                                                <select name="selectpicker" class="selectpicker">
                                                    <option value="">Tüm Türler</option>
                                                    <option value="asia">Köpek</option>
                                                    <option value="south-america">Kedi</option>
                                                    <option value="eastern-europe">Balık</option>
                                                    <option value="south-america">Kuş</option>
                                                </select>
                                            </div>
                                            <div class="form-input col-md-4 mt-md-0 mt-3">
                                                <select name="selectpicker" class="selectpicker">
                                                    <option value="">Tüm Cinsiyetler</option>
                                                    <option value="asia">Kız</option>
                                                    <option value="south-america">Erkek</option>
                                                    <option value="eastern-europe">Bilinmiyor</option>
                                                </select>
                                            </div>
                                            <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                                <button class="btn btn-style btn-secondary">
                                                    <span class="fa"
                                                          aria-hidden="true"></span> Ara
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="con-top">
                        <h3>HavePet Hayvan Sahiplendirme Sitesine Hoş geldiniz!</h3>
                        <p>Sitemizde evcil hayvanların türlerine ve cinsiyetlerine göre filtreleyerek inceleyebilir, evcil hayvanlar hakkında yapılan bloglarımıza göz atabilirsiniz. Umarım ilanlarımızda evcil hayvanlar hakkında verilen bilgilerin güvenirliği siz hayvanseverlerimiz için yeterlidir. Sitemizde gezinirken keyifli vakitler geçirmenizi dileriz...</p>
                    </div>
                    @Html.Action("Partial1", "Default")
                    <div class="grids">
                        <div class="box1">
                            @Html.Action("Partial2", "Default")
                            @Html.Action("Partial3", "Default")
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>


