
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="col-xl-12 col-lg-12 col-md-10">
    <div class="card">
        <div class="card-body">
            <a class="text-dark"><h2 class="font-weight-semibold" style="text-align: center;">İletişim</h2></a><br />
            <p></p><p style="text-align: center;"><span style="font-size: 24px;"><b>HavePet Hayvan Sahiplendirme Sitesi<br></b></span></p><p style="text-align: center;"><span style="font-size: 18px;">Bilgi &amp; Destek : HavePet@gmail.com</span></p><p style="text-align: center;"><span style="font-size: 18px;">Telefon Numaramız : 05392730139</span></p><p style="text-align: center;"><br></p><div style="text-align: start;"><font color="#050505" face="Menlo, Consolas, Monaco, monospace"><span style="font-size: 17px;"><br></span></font></div><div style="text-align: start;"><br></div><p></p><p></p>
        </div>
    </div>
</div>

